{% load static %}

{% include 'base/navbar.html' %}
    {% block content %}
        <section class="login-panel">
            <h1 id="authTitle">Iniciar sesión</h1>
            <p id="authDescription">Accede a tu cuenta para seguir comprando, ver pedidos y experiencias personalizadas.</p>
                    
            <form id="loginForm" method="POST" action="{% url 'IDpaginalogin' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Nombre Usuario</label>
                    <input id="username" name="username" type="text" required placeholder="Ingrese su usuario" value="{{ request.POST.username }}">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input id="password" name="password" type="password" required placeholder="Ingrese su contraseña">
                </div>
                <button type="submit" class="btn-primary">Ingresar</button>
            </form>
            <div style="margin-top: 20px;">
                <p>¿No tienes cuenta?</p>
                <a href="{% url 'IDpaginaCrearCuenta' %}" class="btn-primary">Crear cuenta</a>
            </div>
        </section>
    {% endblock %}
{% include 'base/footer.html' %}
