{% load static %}

{% include 'gestiones/baseGestion/navbarGestion.html' %}
        <!-- MAIN -->
            <table class="table table-dark table-striped table-hover" style="height: 100px;">
                <thead>
                    <tr>
                        <th>N° Compra</th>
                        <th>Cliente</th>
                        <th>Mueble</th>
                        <th>Fecha Compra</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                        <th>Estado de compra</th>
                        <th>EDITAR</th>
                    </tr>
                </thead>

                <tbody class="align-middle text-center">
                    <form method="post">
                        {% csrf_token %}
                        <input type="text" name="idDetalle" id="idDetalle" value="{{detalleCompra.idDetalle  }}" hidden >
                        <input type="text" name="idCompra" id="idCompra" value="{{detalleCompra.idCompra.idCompra }}" hidden>
                        <input type="text" name="idMueble" id="idMueble" value="{{detalleCompra.idMueble.id }}" hidden>
                        <input type="text" name="cantidad" id="cantidad" value="{{detalleCompra.cantidad }}" hidden>
                        <input type="text" name="subtotal" id="subtotal" value="{{detalleCompra.subtotal }}" hidden>
                        <tr>
                            <td>{{ detalleCompra.idCompra.idCompra }}</td>
                            <td>{{ detalleCompra.idCompra.idCliente.nombre }}</td>
                            <td>{{ detalleCompra.idMueble.nombre }}</td>
                            <td>{{ detalleCompra.idCompra.fecha }}</td>
                            <td>{{ detalleCompra.cantidad }}</td>
                            <td>${{ detalleCompra.subtotal }}</td>
                            <td>
                                <select name="idEsProdCom" id="idEsProdCom"  >
                                    {% for x in estadosDeCompras %}

                                        <option 
                                            value="{{ x.idestadocompra }}"
                                            {% if x.idestadocompra == detalleCompra.idEsProdCom.idestadocompra %}
                                                selected
                                            {% endif %}
                                        >

                                            {{ x.descripcion }}

                                        </option>
                                    {% endfor %}

                                </select>                            
                            </td>
                            <td>
                                <!-- BOTON MODAL -->
                                <button 
                                    type="submit"
                                    class="btn btn-warning"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalCompra{{ x.idCompra }}"
                                >
                                    EDITAR
                                </button>
                            </td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </main>
{% include 'gestiones/baseGestion/footerGestion.html' %}

