{% load static %}    
    <footer>
        <p>
            <span><i class="fas fa-phone-alt"></i> +56 9 2395 3217</span>
            <span><i class="fas fa-phone-alt"></i> +56 9 7467 6074</span>
            <span><i class="fab fa-instagram"></i> @pequemundo.cl</span>
            <span><i class="fab fa-whatsapp"></i> +56 9 7467 6074</span>
            <span><i class="fab fa-whatsapp"></i> +56 9 2395 3217</span>
            <span><i class="far fa-envelope"></i> hola@pequemundo.cl</span>
        </p>
        <p style="margin-top: 1rem; font-size: 0.8rem;">✨ Diseño seguro · Certificación EN71 · Maderas sustentables ✨</p>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
        <!-- 
            <script  src="../../static/js/carrito.js"></script>
            <script  src="../../static/js/auth.js"></script>
            <script  src="../../static/js/account.js"></script>
            <script  src="../../static/js/index.js"></script>
            <script  src="../../static/js/login.js"></script>
            <script  src="../../static/js/pago.js"></script>
            <script  src="../../static/js/pedido.js"></script>
        -->
        <script  src="../../static/js/script.js"></script>
            <!-- 
                <script  src="../../static/js/productos.js"></script>
                <script  src="../../static/js/carrito.js"></script>
                -->
    </footer>
   </body>
</html>