{% load static %}

{% include 'gestiones/baseGestion/navbarGestion.html' %}
<div class="container-fluid">
    <form method="POST">
        {% csrf_token %}
        <h1 id="authTitle">Crear cuenta</h1>
        <div class="form-group">
            <label for="registerName">Usuario (No se permiten espacio)</label>
            {{ formulario_de_usuario.username }}
        </div>
        <div class="form-group">
            <label for="registerPassword">Contraseña (debe tener 8 caracter minimo,no repetirse)</label>
            {{ formulario_de_usuario.password1 }}
        </div>
        <div class="form-group">
            <label for="registerPasswordConfirm">Confirmar contraseña</label>
            {{ formulario_de_usuario.password2 }}
        </div>
        <button type="submit" class="btn-primary">Crear cuenta</button>
    </form>
</div>
{% include 'gestiones/baseGestion/footerGestion.html' %}