{% load static %}

{% include 'gestiones/baseGestion/navbarGestion.html' %}

<div class="container mt-4">
    <a href="{% url 'IDpaginaGestionCrearTipoCuenta' %}">
        <button class="btn btn-success" style="margin-bottom: 10px;">
            Crear Tipo de Cuenta
        </button>
    </a>
    <table class="table table-dark table-striped table-hover">

        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Editar</th>
            </tr>
        </thead>

        <tbody>

            {% for tipo_cuenta in tipos_cuenta %}

                <tr>
                    <td>{{ tipo_cuenta.id }}</td>
                    <td>{{ tipo_cuenta.descripcion }}</td>
                    <td>
                        <a href="{% url 'IDpaginaGestionEditarTipoCuenta' tipo_cuenta.id %}" class="btn btn-warning btn-sm">
                            Editar
                        </a>
                    </td>
                </tr>

            {% empty %}
                <tr>
                    <td colspan="4" class="text-center">No hay tipos de cuenta registrados.</td>
                </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% include 'gestiones/baseGestion/footerGestion.html' %}
