{% load static %}
    {% include 'gestiones/baseGestion/navbarGestion.html' %}
    <!-- MAIN -->
        <a href="{% url 'IDpaginaCrearMueble' %}">
            <button
                type="button"
                class="btn btn-sm btn-success" style="width: 20%;">
                <svg xmlns="http://www.w3.org/2000/svg" style="color:rgb(0, 0, 0)" width="16" height="16" fill="currentColor" class="bi bi-patch-plus-fill" viewBox="0 0 16 16">
                <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
                </svg> 
                Crear Mueble
            </button>
        </a>
        <div class="table-wrap">
    
            <table class="table table-dark table-striped table-hover">
    
                <thead>
    
                    <tr>
                        <th>Nombre</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Estado</th>
                        <th class="actions-col">Acciones</th>
                    </tr>
    
                </thead>
    
                <tbody>
    
                    {% for mueble in muebles %}
    
                    <tr>
    
                        <td data-label="Nombre">
                            {{ mueble.nombre }}
                        </td>
    
                        <td data-label="Categoría">
                            {{ mueble.categoria_mueble.descripcion }}
                        </td>
    
                        <td data-label="Precio">
                            ${{ mueble.precio }}
                        </td>
    
                        <td data-label="Stock">
                            {{ mueble.cantidad }}
                        </td>
    
                        <td data-label="Estado">
    
                            <span class="state-pill">
                                {{ mueble.estado }}
                            </span>
    
                        </td>

    
                        <td data-label="Acciones" class="actions-cell">
    
                            <!-- EDITAR -->
                            <button class="btn btn-sm btn-warning"> 
                                <a href="{% url 'IDpaginaEditarMuebles'  mueble.id %}">✏️ Editar</a>
                            </button>
                            
    
                            <!-- VER -->
                            <button
                                type="button"
                                class="btn btn-sm btn-dark"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{ mueble.id }}"
                            >
                                👁️ Ver
                            </button>
    
    
                        </td>
    
                    </tr>
    
                    {% endfor %}
    
                </tbody>
    
            </table>
    
        </div>


    </main>

    <!-- MODALES -->
    {% for mueble in muebles %}

    <div
        class="modal fade"
        id="exampleModal{{ mueble.id }}"
        tabindex="-1"
        aria-hidden="true"
    >

        <div class="modal-dialog modal-dialog-centered">

            <div class="modal-content" style="color: black;">

                <!-- HEADER -->
                <div class="modal-header">

                    <h1 class="modal-title fs-5">

                        {{ mueble.nombre }}

                    </h1>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>

                </div>

                <!-- BODY -->
                <div class="modal-body">

                    <p>

                        <img src="{{ mueble.foto.url }}" alt="">
                        {{ mueble.descripcion }}
                        {{ mueble.categoria_mueble.descripcion }}


                    </p>

                </div>

                <!-- FOOTER -->
                <div class="modal-footer">

                    <strong>

                        Precio: ${{ mueble.precio }}

                    </strong>

                </div>

            </div>

        </div>

    </div>

    {% endfor %}

    {% include 'gestiones/baseGestion/footerGestion.html' %}

