{% load static %}

{% include 'base/navbar.html' %}

{% block content %}
<style>
    .contador{
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn-contador{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

#cantidad{
    width: 50px;
    text-align: center;
    border: none;
    font-size: 20px;
    background: transparent;
}
</style>
<script>
   
function sumar(btn){

    let contenedor = btn.parentElement;

    let input = contenedor.querySelector("input");

    let max = parseInt(input.max);

    let valor = parseInt(input.value);

    if(valor < max){

        input.value = valor + 1;

    }

}

function restar(btn){

    let contenedor = btn.parentElement;

    let input = contenedor.querySelector("input");

    let valor = parseInt(input.value);

    if(valor > 0){

        input.value = valor - 1;

    }

}

</script>
<!-- =========================
     PRODUCTOS
========================= -->

<main class="products-container">

    <!-- HEADER -->
    <div class="products-header">

        <h1>
            <i class="fas fa-cubes"></i>
            Nuestra colección
        </h1>

        <!-- BUSCADOR -->
        <div class="search-group">

            <input
                id="searchInput"
                class="search-input"
                type="search"
                placeholder="Buscar productos..."
                autocomplete="off"
            >

            <button
                id="clearSearch"
                class="btn-clear-search"
                type="button"
            >
                Limpiar
            </button>

        </div>

        <!-- FILTROS -->
        <div class="filter-section">

            <button
                class="filter-btn active"
                data-filter="all"
            >
                Todos
            </button>

            <button
                class="filter-btn"
                data-filter="dormitorio"
            >
                Dormitorio
            </button>

            <button
                class="filter-btn"
                data-filter="estudio"
            >
                Estudio
            </button>

            <button
                class="filter-btn"
                data-filter="deco"
            >
                Deco & Organización
            </button>

        </div>

    </div>

    <!-- GRID -->
    <div id="productosGrid" class="productos-grid">

        {% for producto in datosMuebles %}

        <!-- CARD -->
        <div class="card" data-id="{{ producto.id }}">


            <!-- SECCION PARA COMPRAR EXCLUSIVA CLIENTES -------------------------------------------  -->
            
            <!-- FORM -->
            <form
                method="POST"
                action="{% url 'agregar_carrito' producto.id %}"
            >

                {% csrf_token %}

                <!-- BADGE -->
                {% if producto.estado.id == 1 %} 
                       <div class="card-badge hot">
       
                           <i class="fas fa-fire"></i>
       
                           {{ producto.estado }}
                           
                        </div>
                {% endif %}  
                <!-- IMAGEN -->
                <img
                    src="{{ producto.foto.url }}"
                    alt="{{ producto.nombre }}"
                >

                <!-- TITULO -->
                <h3>{{ producto.nombre }}</h3>

                <!-- PRECIO -->
                <div>
                    {% if producto.disponiblidad.descripcion != 'No disponible' %}   
                        {{ producto.cantidad }} Unidades
                        {{ producto.disponiblidad.descripcion }}
                    {% else %} 
                        Sin stock 
                    {% endif %} 

                </div>
                <!-- PRECIO -->
                <div class="price">

                    Valor:  ${{ producto.precio }}

                </div>
                <!-- SELECCION DE CANTIDAD A SUMAR AL CARRITO SOLO POR LOS CLIENTES -->
                {% if user.is_authenticated%}
                    <!--  ESTA ES DEL CLIENTE   -->
                    {% if user.is_authenticated %}
                        {% for group in user.groups.all %}
                            <!-- SI ES ADMINISTRATIVO -->
                            {% if group.name == 'admin' or  group.name == 'finanzas' or group.name == 'vendedores' %}
                                <!-- DETALLE PRODUCTO -->
                                <button
                                    type="button"
                                    class="btn-detail"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal{{ producto.id }}"
                                >

                                    <i class="fas fa-eye"></i>

                                </button>
                            <!-- SI ES CLIENTE -->
                            {% else %}
                                <!-- CANTIDAD -->
                                {% if producto.disponiblidad.descripcion != 'No disponible'  %}
                                <div class="contador">

                                    <button
                                        type="button"
                                        onclick="restar(this)"
                                        class="btn-contador"
                                    >
                                        -
                                    </button>

                                    <input
                                        type="number"
                                        id="cantidad"
                                        name="cantidad"
                                        value="0"
                                        min="0"
                                        max="{{ producto.cantidad }}"
                                        readonly
                                    >
                                    
                                    <button
                                        type="button"
                                        onclick="sumar(this)"
                                        class="btn-contador"
                                    >
                                        +
                                    </button>

                                </div>
                                {% else %}
                                    <button
                                        class="btn-buy"
                                            style="
                                                background: gray;
                                                cursor: not-allowed;
                                                width: 100%;"
                                        disabled
                                    >
                                        No disponible

                                    </button>
                                {% endif %}

                                <!-- BOTONES -->
                                <div class="card-actions">

                                    {% if producto.disponiblidad.descripcion != 'No disponible' %}
                                    <!-- COMPRAR -->
                                    <button
                                        type="submit"
                                        class="btn-buy"
                                        onclick="mostrarAlerta(event)"
                                    >

                                        <i class="fas fa-cart-plus"></i>

                                        Comprar

                                    </button>
                                                        {% else %}
                                    <!-- COMPRAR -->
                                    <h5 style="
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-right: 40px;
                                        margin-left: 30px;
                                    ">
                                        Detalles 
                                    </h5>
                                    {% endif %}

                                    <!-- DETALLE -->
                                    <button
                                        type="button"
                                        class="btn-detail"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal{{ producto.id }}"
                                    >

                                        <i class="fas fa-eye"></i>

                                    </button>

                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </form>




        </div>
        <!-- MODAL -->
        <div
            class="modal fade"
            id="exampleModal{{ producto.id }}"
            tabindex="-1"
            aria-hidden="true"
        >

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">

                        <h1 class="modal-title fs-5">

                            {{ producto.nombre }}

                        </h1>

                        <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        ></button>

                    </div>

                    <div class="modal-body">

                        {{ producto.descripcion }}

                    </div>

                    <div class="modal-footer">

                        ${{ producto.precio }}

                    </div>

                </div>

            </div>

        </div>
        
        {% endfor %}
        
      </div>
      <div style="margin-top: 10%;">
        {% include 'paginador.html' %}
      </div>

</main>


{% endblock %}

{% include 'base/footer.html' %}